.farm-select-container {

    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 50px;

    div {
        margin-right: 20px;
    }

    .year-select-container {
        display: flex;
        align-items: center;

        label {
            width: 120px;
        }

        select {
            width: 85px;
        }
    }

    input {
        height: 20px;
        width: 60px;
    }

    .switch-container {
        display: flex;

        div {
            margin-left: 8px;
        }
    }

    .form-check-input:checked {
        background-color: #7fa4c7;
        border-color: #7fa4c7;
    }
}