.sidebar {
  user-select: none;
}
.sidebar .ps-menu-button.ps-open span {
  font-weight: bold;
}
.sidebar .active {
  font-weight: bold;
}
.sidebar span {
  font-size: 12px;
}
.sidebar .submenu {
  background: #627f9b;
}
.sidebar .submenu .sub2menu {
  background: #959EA6;
}
.sidebar .submenu .sub3menu {
  background: #C3CED9;
}

.collapseButton {
  position: absolute;
  top: 14px;
  left: 10px;
  transition: left 0.4s ease-out;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  cursor: pointer;
  background: #7fa4c7;
  border-radius: 14px;
  color: white;
}
.collapseButton:hover {
  background: #8db5db;
}
.collapseButton i {
  position: relative;
  top: -2px;
  font-weight: 600;
  cursor: pointer;
}

.open {
  left: 280px;
  transform: rotate(180deg);
}

.table-container .ReactTable {
  font-size: 13px;
  overflow: visible !important;
}
.table-container .ReactTable .rt-thead {
  font-weight: bold;
}
.table-container .ReactTable .rt-tbody {
  overflow: visible;
}
.table-container .ReactTable .rt-th {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
}
.table-container .ReactTable .rt-td {
  display: flex;
  justify-content: center;
}
.table-container .ReactTable .sticky {
  position: sticky !important;
  left: 0;
  top: 0;
  z-index: 1;
}
.table-container .ReactTable .sticky:nth-of-type(2) {
  left: 100px;
}
.table-container .ReactTable .sticky:nth-of-type(3) {
  left: 200px;
}
.table-container .ReactTable .sticky:nth-of-type(4) {
  left: 300px;
}
.table-container .ReactTable .sticky:nth-of-type(5) {
  left: 400px;
}
.table-container .ReactTable .sticky:nth-of-type(6) {
  left: 500px;
}
.table-container .ReactTable .sticky:nth-of-type(7) {
  left: 600px;
}
.table-container .ReactTable .sticky:nth-of-type(8) {
  left: 700px;
}
.table-container .ReactTable .rt-thead .sticky {
  background-color: white;
}
.table-container .ReactTable .rt-tr.-odd .sticky {
  background-color: rgb(247, 247, 247);
}
.table-container .ReactTable .rt-tr.-even .sticky {
  background-color: white;
}
.table-container .ReactTable .rt-td .green {
  font-weight: bold;
  color: green;
}
.table-container .ReactTable .rt-td .red {
  font-weight: bold;
  color: red;
}
.table-container .ReactTable .rt-td .yellow {
  font-weight: bold;
  color: yellow;
}

.farm-select-container {
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 50px;
}
.farm-select-container div {
  margin-right: 20px;
}
.farm-select-container .year-select-container {
  display: flex;
  align-items: center;
}
.farm-select-container .year-select-container label {
  width: 120px;
}
.farm-select-container .year-select-container select {
  width: 85px;
}
.farm-select-container input {
  height: 20px;
  width: 60px;
}
.farm-select-container .switch-container {
  display: flex;
}
.farm-select-container .switch-container div {
  margin-left: 8px;
}
.farm-select-container .form-check-input:checked {
  background-color: #7fa4c7;
  border-color: #7fa4c7;
}

.app {
  display: flex;
  min-height: 100vh;
}
.app .sidebar-container {
  position: relative;
  left: -1px;
  background: #292a2d;
}
.app .sidebar-container .css-w626zc {
  border-right-style: none;
}
.app .content-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*# sourceMappingURL=app.css.map */
