@import '../components/sidebarComponent/sidebarComponent.scss';
@import '../components/tableComponent/tableComponent.scss';
@import '../components/farmSelectComponent/farmSelectComponent.scss';

.app {
    display: flex;
    min-height: 100vh;

    .sidebar-container {
        position: relative;
        left: -1px;
        background: #292a2d;

        .css-w626zc {
            border-right-style: none;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}