@import '../components/sidebarComponent/sidebarComponent.scss';
@import '../components/tableComponent/tableComponent.scss';
@import '../components/yearSelectComponent/yearSelectComponent.scss';

.app {
    display: flex;
    min-height: 100vh;

    .sidebar-container {
        position: relative;
        left: -1px;
        background: #292a2d
    }

    .content-container {
        display: flex;
        flex-direction: column;
        .select-container {
            padding-left: 50px;
            height: 40px;
            display: flex;
            align-items: center;
        }
        
        .select-container select {
            margin-left: 5px;
            height: 26px;
        }
    }
}