.sidebar {
    user-select: none;

    .ps-menu-button.ps-open {
        span {
            font-weight: bold;
        }
    }
    
    .active {
        font-weight: bold;
    }

    span {
        font-size: 12px;
    }

    .submenu {
        background: #627f9b;

        .sub2menu {
            background: #959EA6
        }

        .sub3menu {
            background: #C3CED9
        }
    }  
}

.collapseButton {
    position: absolute;
    top: 14px;
    left: 10px;
    transition: left 0.4s ease-out;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    cursor: pointer;
    background: #7fa4c7;
    border-radius: 14px;
    color: white;

    &:hover {
        background: #8db5db
    }

    i {
        position: relative;
        top: -2px;
        font-weight: 600;
        cursor: pointer;
    }
}

.open {
    left: 280px;
    transform: rotate(180deg);
}